*{
    margin: 0;
    padding: 0;



}
.header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 30px;

}
header img{
    height: 70px;
    border-radius: 50%;
}
.navbar {
    display: flex;
    list-style: none;
    padding: 20px;
}
.navbar a{
    padding-left: 20px;
    text-decoration: none;
    color: black;
}